*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
   html,
   body{
     font-weight: 400,700;
     font-size: 14px;
     text-rendering: optimizeLegibility;
     font-family: 'Inter';
     background: hsl(0, 0%, 100%);
  }
  
  .dashboard {
    display: flex;
    justify-content: space-around;
}
.row-letters {
    display: flex;
    justify-content: center;
    margin-top: 7em;
}
.card {
    width: 20em;
    height: 15em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: hsl(227, 47%, 96%);
    margin: 1em;
}
.lined{
    border: none;
    border-top: 4px solid hsl(208, 92%, 53%);
    width: 100%;
    position: relative;
    border-radius: 25%;
}
.stroke{
  border: none;
  border-top: 4px solid  hsl(203, 89%, 53%);
  width: 100%;
  position: relative;
  border-radius: 25%;
}
.lease{
  border: none;
  border-top: 4px  solid  hsl(329, 70%, 58%);
  width: 100%;
  position: relative;
  border-radius: 25%;
}
.line{
  border: none;
  border-top: 4px solid hsl(348, 97%, 39%);
  width: 100%;
  position: relative;
  border-radius: 25%;
}
p.name {
  margin-left: 6.5em;
  margin-top: -20px;
  color:  hsl(228, 12%, 44%);
}
img.svg-image {
  margin-top: 2em;
}
h1.number {
  margin-top: 1em;
}
p.followers {
  margin-top: 1em;
}
h5.letters {
  margin-top: 3em;
  color: hsl(163, 72%, 41%);
}
h5.letter {
  margin-top: 3em;
  color: hsl(356, 69%, 56%);
}
.cram{
    width: 20em;
    height: 15em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: hsl(227, 47%, 96%);
    margin: 1em;
}
.cram:hover{
     background-color:  hsl(228, 12%, 44%);
     color:   hsl(0, 0%, 100%);
}
.lead{
  margin-left: 27em;
}
.leadboard{
  display: flex;
  justify-content: center;
}
.cardless{
  width: 20em;
  height: 12em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: hsl(227, 47%, 96%);
  margin: 1em;
}
p.page {
  margin-top: 2em;
  margin-left: 2em;
  color: hsl(228, 12%, 44%);
}
img.facebook {
  float: right;
  margin-top: -1em;
  margin-right: 2em;
}
h1.numb {
  margin-top: 1em;
  margin-left: 1em;
}
.icon-svg{
  float: right;
  margin-top: -1em;
  margin-right: 4em;
}
.three{
  color: hsl(163, 72%, 41%);
  float: right;
  margin-top: -1.5em;
  margin-right: 2em;
}
.two{
  color: hsl(356, 69%, 56%);
  float: right;
  margin-top: -1.5em;
  margin-right: 2em;
}
.champboard{
  display: flex;
  justify-content: center;
}
.cardpage{
  width: 20em;
  height: 12em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: hsl(227, 47%, 96%);
  margin: 1em;
}
.cardpess{
  width: 20em;
  height: 12em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: hsl(227, 47%, 96%);
  margin: 1em;
}
.cardpess:hover{
  background-color:  hsl(228, 12%, 44%);
  color:   hsl(0, 0%, 100%);
}
.theme-switch{
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.theme-switch input{
  display: none;
}
.slider{
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition:.4s;
}
.slider:before{
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
input:checked + .slider{
  background-color: black;

}
input:checked + .slider:before{
  transform: translate(26px);
}
.slider.round{
  border-radius: 34px;
}
.slider.round:before{
   border-radius: 50%;
}